{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.contact.subtitle }}{{ . }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form  action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" name="oid" value="00D9000000104qA">
                                <input type="hidden" name="retURL" value="http://meexle.com/#about">
                                <input type="text" class="form-control" placeholder="{{ with .Site.Params.contact.form.fname.text }}{{ . }}{{ end }}" name="first_name" required data-validation-required-message="{{ with .Site.Params.contact.form.fname.warning }}{{ . }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{ with .Site.Params.contact.form.lname.text }}{{ . }}{{ end }}" name="last_name" required data-validation-required-message="{{ with .Site.Params.contact.form.lname.warning }}{{ . }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{ with .Site.Params.contact.form.company.text }}{{ . }}{{ end }}" name="company">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="{{ with .Site.Params.contact.form.email.text }}{{ . }}{{ end }}" name="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.warning }}{{ . }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="{{ with .Site.Params.contact.form.phone.text }}{{ . }}{{ end }}" name="phone" required data-validation-required-message="{{ with .Site.Params.contact.form.phone.warning }}{{ . }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="{{ with .Site.Params.contact.form.message.text }}{{ . }}{{ end }}" name="description" required data-validation-required-message="{{ with .Site.Params.contact.form.message.warning }}{{ . }}{{ end }}"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">{{ with .Site.Params.contact.buttonText }}{{ . }}{{ end }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
